@{
    ViewData["title"] = "Excluir Contatos";
}

    <div class="text-center">

        <h3>Realmente deseja excluir o conatato?</h3>

    </div>

    <button type="submit" class="btn btn-primary btn-block">Confirmar exclusão</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Cancelar exclusão</a>
