@model HomeModel
@{
    ViewData["title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo, @Model.Nome</h1>
    <p>Vcs estão no meu primeiro site mvc</p>
    <span> seu email é: @Model.Email e sua idade é: @Model.Idade  </span>
</div>
    